html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.6;
	font-size: 14px;
	background-color: #f6f6f6;
	position: relative;
}

#dashboard {
	float: right;
	margin-top: 20px;
}

#html span {
	background-color: #FF9;
	color: #555;
}

#accounts_nav {
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
}

div {
	padding: 5px;
	font-family: sans-serif;
}

#pre {
	font-size: 12px;
}

#sidebar {
	font-size: inherit;
	position: absolute;
	top: 160px;
	padding-top: 10px;
	width: 150px;
	left: 0;
	margin-left: 10px;
}

#sidebar ul {
	list-style-type: none;
}

#start_sidebar {
	list-style: none;
	padding-left: 0;
}

#logo {
	position: absolute;
	top: -160px;
	left: -25px;
	width: 100px;
	height: 160px;
}

#personal-accounts {
	width: 30%;
	position: absolute;
	top: -20px;
	right: 0px;
	list-style-type: none;
	text-align: right;
	height: 25px;
}

#personal-accounts li {
	display: inline;
}

#wrapper {
	margin: 0;
	padding: 0;
	width: 85%;
	float: right;
}

#header-left-navigation {
	width: 30%;
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 18px;
	left: -40px;
	display: inline-block;
}

#header-left-navigation li {
	display: inline;
	color: blue;
}

#header-right-navigation {
	float: right;
	position: relative;
	list-style-type: none;
	top: 18px;
	margin: 0;
	padding: 0;
}

#header-right-navigation li {
	display: inline;
	color: blue;
}

.grad {
	border-left: 1px solid #a7d7f9;
	border-right: 1px solid #a7d7f9;
	background: linear-gradient(white, #a7d7f9);
}

.selected {
	display: inline;
	border-left: 1px solid #a7d7f9;
	border-right: 1px solid #a7d7f9;
	border-bottom: 2px solid white;
	background-color: white;
}

#header-right-navigation form {
	display: inline-block;
}

#list {
	display: inline-block;
	display: table;
	padding: 7px;
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}

#firstheading {
	font-family: "Linux Libertine", Georgia, Times, serif;
	font-style: normal;
	line-height: 1.3;
	margin-bottom: .50px;
	padding: 0;
	font-size: 25px;
	margin-top: 0;
}

#subfirstheading {
	display: inline;
	font-size: 92%;
}

#subsection {
	border-left: 10px solid #f4c430;
	border-right: 1px solid grey;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	background-color: #fbfbfb;
	margin: 20px
}

#header {
	width: 80%;
}

#listtitle {
	text-align: center;
}

#list_ul {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	text-align: left;
}

#listtoggle {
	font-size: 94%;
}

#footer {
	line-height: 1.4em;
	width: 88%;
	float: right;
	padding-top: 22px;
	padding-bottom: 24px;
	color: #333;
	font-size: 11px;
	clear: both;
	margin-left: 200px;
	padding: 20px;
}

#footer_info {
	list-style-type: none;
}

#footer_places {
	list-style-type: none;
}

#footer_icons {
	list-style-type: none;
	display: list-item;
	margin: 0;
	padding: 0;
	float: right;
	direction: ltr;
}

#footer li {
	display: inline;
}

#article {
	position: relative;
	float: right;
	width: 84%;
	border: 1px solid #a7d7f9;
	border-right-width: 0;
	margin-top: -1px;
	background-color: #fff;
	color: #252525;
	direction: ltr;
	bottom: 0px;
}

#edit_tag {
	font-size: small;
	font-weight: normal;
	line-height: 10px;
}

#heading-history h1, #heading-history p, #heading-specificity h1,
	#heading-specificity p, #heading-political h1, #heading-political p,
	#heading-nature h1, #heading-nature p, #heading-see-also h1,
	#heading-see-also p, #heading-references h1, #heading-references p,
	#heading-external-links h1, #heading-external-links p {
	display: inline;
}

#contents {
	border: 1px solid grey;
	margin: 10px;
	width: 250px;
	background-color: #f6f6f6;
}